PRN231_GroupProject_LearningOnline/bin
PRN231_GroupProject_LearningOnline/obj
PRN231_GroupProject_LearningOnline/.vs
PRN231_GroupProject_LearningOnline/Migrations
/PRN231_GroupProject_LearningOnline/Migrations/DonationWebApp_v2ContextModelSnapshot.cs
